<h3>Consent Clauses</h3>
<label>Please select which clauses do you want to add.</label>
<div class="form-group">
    <div class="radio">
        <label>
           <input type="checkbox" ng-model="formData.type" value="xbox" checked>
           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut justo tortor, aliquet a lectus id, cursus gravida eros. In luctus eros velit, vel pharetra ante fringilla vitae. Nunc sed ligula a est eleifend dapibus eu at ex. Curabitur vitae tortor feugiat sem ultricies feugiat non a nisl.
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="checkbox" ng-model="formData.type1" value="ps">
            Aenean vitae sem quis lorem laoreet tincidunt eget eget lacus. Maecenas tortor metus, sodales sit amet lectus non, feugiat euismod ipsum. Ut a velit cursus nibh iaculis aliquam. Curabitur non finibus est, nec sodales nibh. Aenean varius ligula nec sapien eleifend, at laoreet elit pharetra.
        </label>
    </div>
</div>

<div class="form-group row">
<div class="col-xs-4 col-xs-offset-4">
    <a ui-sref="consent-form.notification-options" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>