<h3>Personal Perticulars</h3>
<label>Please give Informations about personal perticulars.</label>
<div class="form-group">
    <table class="table">
        <thead>
            <tr>
                <td width="60%"></td>
                <td width="20%">Include (as mandatory)</td>
                <td width="20%">Optional</td>
                <td width="20%">Omit</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td><input type="radio" name="name"/></td>
                <td><input type="radio" name="name"/></td>
                <td><input type="radio" name="name"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="radio" name="email"/></td>
                <td><input type="radio" name="email"/></td>
                <td><input type="radio" name="email"/></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td><input type="radio" name="phone"/></td>
                <td><input type="radio" name="phone"/></td>
                <td><input type="radio" name="phone"/></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="radio" name="address"/></td>
                <td><input type="radio" name="address"/></td>
                <td><input type="radio" name="address"/></td>
            </tr>
            <tr>
                <td>NRIC / FIN</td>
                <td><input type="radio" name="nric"/></td>
                <td><input type="radio" name="nric"/></td>
                <td><input type="radio" name="nric"/></td>
            </tr>
        </tbody>
    </table>
</div>

<div class="form-group row">
<div class="col-xs-4 col-xs-offset-4">
    <a ui-sref="consent-form.consent-clause" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
</div>
</div>